<?xml version='1.0' encoding='UTF-8'?> 
<manifest package='org.ruboto.core' android:installLocation='auto' android:versionCode='10000' android:versionName='1.0.0' xmlns:android='http://schemas.android.com/apk/res/android'>
    <application android:icon='@drawable/ic_launcher' android:label='@string/app_name'>
        <activity android:label='@string/app_name' android:name='RubotoCoreActivity'>
            <intent-filter>
                <action android:name='android.intent.action.MAIN'/>
                <category android:name='android.intent.category.LAUNCHER'/>
            </intent-filter>
        </activity>
        <activity android:exported='false' android:name='org.ruboto.RubotoActivity'/>
        <activity android:exported='false' android:name='org.ruboto.RubotoDialog' android:theme='@android:style/Theme.Dialog'/>
        <service android:exported='false' android:name='org.ruboto.RubotoService'/>
        <activity android:configChanges='orientation' android:exported='false' android:name='org.ruboto.SplashActivity' android:noHistory='true'/>
    </application>
    <uses-sdk android:minSdkVersion='10' android:targetSdkVersion='10'/>
    <uses-feature android:name='android.hardware.touchscreen' android:required='false'/>
</manifest>
